<div class="row">
    <div class="card  m-4 " style="max-width: 21rem;">
        <div class="card-header text-white bg-primary"><a href="#" >TOUBKAL - 3jrs
                <span class="fa fa-arrow-circle-down float-right "></span></a></div>
        <div class="card-body">
            <p>
                {% for activite in activites|slice(0, 2) %}
                    <span class="badge badge-secondary pr-2">{{ activite }}</span>
                {% endfor %}
            <p class="card-text">
                توبقال أعلى قمة في شمال إفريقيا ( 4167 متر) , مسار قمته مليئ بالدروس و الأحاسيس, يريك قوتك الخفية و صبرك
                الفلاذي, أشياء كنت تراها في الأفلام من المحتمل أن تكون أنت نجم أحداثها.
            </p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item"><small>TARIF : </small><span class="badge badge-pill badge-dark"> 1600 Dhs</span></li>
            <li class="list-group-item">
                <small>Difficulté :</small>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </li>
            <li class="list-group-item "><small>Départ :</small> <span class="badge badge-pill badge-warning"> du 26/02/2021 au 28/02/2021</span>
            </li>
        </ul>
    </div>
    <div class="card  m-4 " style="max-width: 21rem;">
        <div class="card-header text-white bg-primary"><a href="#" >TOUBKAL - 3jrs
                <span class="fa fa-arrow-circle-down float-right "></span></a></div>
        <div class="card-body">
            <p>
                {% for activite in activites|slice(2, 4) %}
                    <span class="badge badge-secondary pr-2">{{ activite }}</span>
                {% endfor %}
            <p class="card-text">
                توبقال أعلى قمة في شمال إفريقيا ( 4167 متر) , مسار قمته مليئ بالدروس و الأحاسيس, يريك قوتك الخفية و صبرك
                الفلاذي, أشياء كنت تراها في الأفلام من المحتمل أن تكون أنت نجم أحداثها.
            </p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item"><small>TARIF : </small><span class="badge badge-pill badge-dark"> 1600 Dhs</span></li>
            <li class="list-group-item">
                <small>Difficulté :</small>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </li>
            <li class="list-group-item "><small>Départ :</small> <span class="badge badge-pill badge-warning"> du 26/02/2021 au 28/02/2021</span>
            </li>
        </ul>
    </div>

</div>