{% extends "base.html.twig" %}
        {% block body %}

            <div class="container">
                <div class="row">
                    <div class="col-sm col-md-4 mt-3">
                        <div class="w3-container">
                            <div class="w3-card-4" style="width:90%">
                                <header class="w3-container w3-light-grey">
                                    <h3>John Doe</h3>
                                </header>
                                <div class="w3-container">
                                    <p class="pt-2"><span class="badge badge-primary">Primary</span>
                                        <span class="badge badge-secondary">Secondary</span>
                                        <span class="badge badge-success">Success</span></p>
                                    <hr>
                                    <img src="https://via.placeholder.com/150" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                    <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
                                </div>
                                <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
