<!-- Page Content -->
<div class="container mt-2">


</div>

<style>

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
</style>
<div class="row">

    {% set ratio = (field.value.count//4) %}
    {% set rest = (field.value.count % 4) %}
    {% set fin = ratio*4 %}
    {% for i in 0..3 %}
        <div class="column">
            {% set st = ratio*i %}
            {% set en= (ratio*i)+ratio-1 %}
            {% for j in st..en %}
                <div class="ea-vich-image mr-2 ">
                    <img src="/images/medias/{{ field.value[j].imageName }}" style="width:100%">
                </div>
            {% endfor %}

            {% for k in 0..2 %}
                {% if i==k and field.value.count > fin+k %}
                    <div class="ea-vich-image mr-2">
                        <img src="/images/medias/{{ field.value[fin+k].imageName }}" style="width:100%">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</div>