<section>

    <div class="input-group search-box">
        <input type="text" id="search" class="form-control" placeholder="Search here...">
        <div class="input-group-append">
					<span class="input-group-text">
						<small><i class="fa fa-sm fa-search text-sm "></i></small>
					</span>
        </div>
    </div>


</section>